.backgroundb{
    background-color: #2A7389;
    height:100vh;
    width:100%;
    
    
     
}
.box{
    margin: 6% 10% 2% 10%;
    background-color:white;
    height:auto;
    width:80%;
    border-radius: 5px;
    box-shadow: 5px ;
    
}
.image{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://images.pexels.com/photos/1509427/pexels-photo-1509427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   height:auto;
   width:40vw;
}
.mobilebox{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://images.pexels.com/photos/1509427/pexels-photo-1509427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   height:100vh;
   width:100%;
   color:lightgrey; 
}
.Title{
    color:lightgrey;
    padding-top:180px;
   
}
.Titlemobile{
    color:lightgrey;
    padding-top:30px;
   
}

.line{
    height:2px;
    width:50px;
    background-color: #2A7389;
}
button{
    
    width:140px;
    border-radius: 5%;
    
}
@media only screen and (min-width:100px) and (max-width:979px){
 .Desktop{
     display:none;
 }
}
@media only screen and (min-width:980px) {
    .mobile{
        display:none;
    }
}
.g-signin2{
    padding: 25px 0px 30px 120px
}